.label {
    display: inline-block;
    margin-block-end: var(--space-xxs);
}

.label[data-invalid="true"] {
    color: var(--colour-destructive);
}

.label[data-required="true"]::after {
    content: "*";
    margin-inline-start: var(--space-xxs);
}
