.project {
    background-color: var(--colour-core-lightest);
    border-radius: var(--border-radius-squarer);
    transition: box-shadow var(--transition-ease-in-slow);
    width: var(--fraction-full);

    @media screen and (min-width: 800px) {
        width: var(--fraction-2-3);
    }

    @media screen and (min-width: 1440px) {
        width: var(--fraction-3-4);
    }

    &:focus-within {
        transition: box-shadow var(--transition-ease-out-slow);
        box-shadow: var(--elevation-highest);
    }
}

.separator {
    border: var(--size-0);
}

.meta {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    width: var(--fraction-full);
    justify-content: flex-end;
}
