.project {
    background-color: var(--color-core__lightest);
    border-radius: var(--border-radius__squarer);
    transition: box-shadow var(--transition__ease-in-slow);
    width: var(--fraction__full);

    @media screen and (min-width: 800px) {
        width: var(--fraction__2-3);
    }

    @media screen and (min-width: 1440px) {
        width: var(--fraction__3-4);
    }

    &:focus-within {
        transition: box-shadow var(--transition__ease-out-slow);
        box-shadow: var(--elevation__highest);
    }
}

.separator {
    border: var(--size__0);
}

.meta {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    width: var(--fraction__full);
    justify-content: flex-end;
}
