.stack {
    display: flex;
    gap: var(--stack-gap, var(--space-scale-100));
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.grid {
    display: grid;
    gap: var(--grid-gap, var(--space-scale-100));
}

.cardGrid {
    margin-block-start: var(--space-scale-150);
}
