@layer components {
    .article {
        display: grid;
        gap: var(--space-l);
    }

    .summary {
        color: var(--colour-text-subtle);
        font-size: var(--typography-size-300);
    }

    .meta {
        color: var(--colour-text-subtle);
        font-size: var(--typography-size-300);
    }
}
