@layer components {
    .article {
        display: grid;
        gap: var(--space-sm);
    }

    .summary {
        color: var(--colour-text-subtle);
        font-size: var(--typography-size-300);
    }

    .meta {
        color: var(--colour-text-subtle);
        font-size: var(--typography-size-100);
    }

    .return {
        margin-top: var(--space-xl);
        font-size: var(--typography-size-100);
    }

    .article :global(ol) {
        display: grid;
        gap: var(--space-l);
    }

    .article :global(blockquote) {
        margin: 0;
        padding: var(--space-m) var(--space-l);
        border: 4px solid var(--colour-text-subtle);
        background: var(--surface-level-1);
        border-radius: var(--radius-m);
    }

    .article :global(img) {
        max-width: 100%;
        border-radius: var(--radius-m);
        margin: var(--space-m) auto;
    }

    .article :global(figcaption) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--space-s);
    }

    .article :global(figcaption p) {
        font-size: var(--typography-size-100);
        text-align: center;
        width: 100%;
    }

    .article :global(blockquote p) {
        margin: 0;
    }

    .article :global(.footnotes) {
        font-size: var(--typography-size-100);
        margin-top: var(--space-xl);
        padding-top: var(--space-m);
        display: grid;
        gap: var(--space-s);
    }

    .article :global(.footnotes ol) {
        display: grid;
        gap: var(--space-xs);
        margin: 0;
        padding-left: var(--space-l);
    }

    .article :global(.footnotes li p) {
        margin: 0;
    }

    .article :global(sup[id^="fnref"] > a) {
        text-decoration: none;
    }

    @container (min-width:50rem) {
        .article :global(img) {
            max-width: 50%;
        }

        .article :global(figcaption p) {
            width: 50%;
        }
    }
}
