.me {
    width: 50%;
    height: auto;
    aspect-ratio: 1;
    border-radius: var(--radius-m);
    margin: var(--space-scale-050) 0 var(--space-scale-100) 0;
}

@container (min-width:50rem) {
    .me {
        width: 33%;
    }
}
