@use "../../styles/mixins" as *;

.steps {
    @include stack(var(--space-scale-150));

    counter-reset: step;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block: var(--space-scale-150);
}

.checklist {
    @include checklist;
}
