@use "../../styles/mixins" as *;

.steps {
    @include stack(var(--space-l));

    counter-reset: step;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block: var(--space-l);
}

.summary {
    margin-block-end: var(--space-l);
}

.checklist {
    @include checklist;
}
