@use "../../styles/mixins" as *;

.toc {
    max-inline-size: 40ch;
    padding: var(--space-m);
    border: var(--border-width-s) solid var(--colour-border);
    border-radius: var(--radius-m);
    background: var(--surface-level-1);
    margin-block: var(--space-l);
    margin-block-end: var(--space-3xl);

    :where(h2) {
        font-size: var(--typography-size-200);
        margin-bottom: var(--space-m);
    }
}

.list {
    margin: 0;
    font-size: var(--typography-size-100);

    @include grid-stack(var(--space-xs));
}

.item[data-level="3"] {
    margin-inline-start: var(--space-m);
}

.item[data-level="4"] {
    margin-inline-start: calc(var(--space-m) * 2);
}

.item[data-level="5"] {
    margin-inline-start: calc(var(--space-m) * 3);
}

.item[data-level="6"] {
    margin-inline-start: calc(var(--space-m) * 4);
}

.link {
    text-decoration: none;
    color: var(--colour-text);
}

.link:focus-visible {
    text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
    .link:hover {
        text-decoration: underline;
    }
}
