@use "../../styles/mixins" as *;

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(var(--space-scale-100));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.heroTitle {
    max-inline-size: var(--typography-measure);
    text-wrap: balance;
    hyphens: auto;
    font-size: var(--typography-size-500);
}

.heroIntro {
    max-inline-size: var(--typography-measure);
    text-wrap: balance;
    hyphens: auto;
    font-size: var(--typography-size-300);
}

.ctaGroup {
    @include cta-group;
}

.cta {
    @include centered-column;

    gap: var(--space-scale-025);
    margin-block-end: var(--space-scale-300);
}

.note {
    font-size: var(--typography-size-100);
    text-align: center;
}

.availability {
    display: flex;
    gap: var(--space-scale-050);
    justify-content: center;
    font-size: var(--typography-size-100);
    color: var(--colour-text-subtle);
}

.underline {
    position: relative;
    display: inline-block;
}

.underlineSvg {
    position: absolute;
    bottom: calc(var(--space-scale-050) * -1);
    left: 0;
    width: 100%;
    z-index: -1;
}

.heroTitle,
.heroIntro,
.cta {
    opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
    .heroTitle,
    .heroIntro,
    .cta {
        opacity: 0;
        transform: translateY(var(--space-scale-100));
        animation: fade-in-up var(--motion-dur-320)
            var(--motion-ease-emphasized) both;
    }

    .availability {
        animation-delay: 0.3s;
    }

    .heroTitle {
        animation-delay: 0.5s;
    }

    .heroIntro {
        animation-delay: 0.7s;
    }

    .cta:nth-of-type(1) {
        animation-delay: 0.9s;
    }

    .cta:nth-of-type(2) {
        animation-delay: 1.1s;
    }
}

@container (min-width:50rem) {
    .heroTitle {
        font-size: var(--typography-size-600);
    }

    .heroIntro {
        font-size: var(--typography-size-400);
    }
}
