@use "../../styles/mixins" as *;

@keyframes fade-in-up {
    from {
        opacity: var(--opacity-0);
        transform: translateY(var(--space-scale-100));
    }

    to {
        opacity: var(--opacity-100);
        transform: translateY(0);
    }
}

.hero {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.heroIntro {
    font-size: var(--typography-size-h5);
}

.ctaGroup {
    @include cta-group;

    margin-block-end: var(--space-scale-300);
}

.cta {
    @include centered-column;

    gap: var(--space-scale-050);
}

.note {
    font-size: var(--typography-size-100);
    text-align: center;
}

.availability {
    display: flex;
    gap: var(--space-scale-050);
    justify-content: center;
    font-size: var(--typography-size-100);
    color: var(--colour-text-subtle);
}

.underline {
    position: relative;
    display: inline-block;
}

.underlineSvg {
    position: absolute;
    bottom: calc(var(--space-scale-025) * -1);
    left: 0;
    width: 100%;
    z-index: calc(var(--z-1) * -1);
}

@media (prefers-reduced-motion: no-preference) {
    .heroTitle,
    .heroIntro,
    .cta {
        opacity: var(--opacity-0);
        transform: translateY(var(--space-scale-100));
        animation: fade-in-up var(--motion-dur-320)
            var(--motion-ease-emphasized) both;
    }

    .availability {
        animation-delay: calc(var(--motion-dur-200) * 1.5);
    }

    .heroTitle {
        animation-delay: calc(var(--motion-dur-200) * 2.5);
    }

    .heroIntro {
        animation-delay: calc(var(--motion-dur-200) * 3.5);
    }

    .cta:nth-of-type(1) {
        animation-delay: calc(var(--motion-dur-200) * 4.5);
    }

    .cta:nth-of-type(2) {
        animation-delay: calc(var(--motion-dur-200) * 5.5);
    }
}

@media (prefers-reduced-motion: reduce) {
    .heroTitle,
    .heroIntro,
    .cta {
        opacity: var(--opacity-100);
        transform: none;
        animation: none;
    }
}

@container (min-width:40rem) {
    .heroIntro {
        font-size: var(--typography-size-h3);
    }

    .underlineSvg {
        bottom: calc(var(--space-scale-050) * -1);
    }
}
