@use "../../styles/mixins" as *;

@layer components {
    .list {
        list-style: none;
        display: grid;
        gap: var(--space-l);
        padding: 0;
        margin: 0;
    }

    .item {
        display: flex;
        gap: var(--space-m);
        align-items: center;
    }

    .thumb {
        background: var(--muted);
        border-radius: var(--radius-s);
    }

    .title {
        font-weight: 600;
    }

    .type {
        font-size: var(--step-negative-1);
        color: var(--text-subtle);
    }
}
