@use "../../styles/mixins" as *;

@layer components {
    .testimonials {
        text-align: center;
    }

    .cards {
        @include card-grid();
    }

    .card {
        background: var(--surface);
        padding: var(--space-l);
        border-radius: var(--radius-l);

        @include centered-column;

        gap: var(--space-m);
    }

    .card blockquote {
        margin: 0;
        font-size: var(--step-0);
    }

    .card figcaption {
        font-size: var(--step-negative-1);
        color: var(--text);
    }

    @container (min-width:50rem) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
