@layer components {
    .testimonials {
        background: var(--surface-2);
        text-align: center;
    }

    .list {
        display: grid;
        gap: var(--space-l);
        list-style: none;
        padding: 0;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-s);
    }

    .avatar {
        inline-size: 5rem;
        block-size: 5rem;
        background: var(--surface-3);
        border-radius: 50%;
    }

    .item blockquote {
        max-inline-size: 45ch;
        font-style: italic;
    }

    .item .attribution {
        font-size: var(--step-0);
        font-weight: 600;
    }
}
