.body {
    background-color: var(--colour-core-light);
    min-height: 100vh;
}

.logo {
    margin-left: var(--size-3);
    margin-top: var(--size-3);
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.9) translateY(var(--size-1)); }
    50% { opacity: 0 }
    75% { opacity: 0.9; transform: scale(1) translateY(var(--size-0)); }
    100% { opacity: 1 }
}

.name {
    animation: fadeIn 1.2s;
}

.container {
    animation: fadeIn 1.4s;
    max-width: var(--fraction-full);

    @media screen and (min-width: 800px) {
        max-width: var(--fraction-2-4);
    }
}

.toggleTheme {
    position: fixed;
    bottom: calc(var(--gutter-large) * 2);
    right: calc(var(--gutter-large) * 2);
}
