@use "../../styles/mixins" as *;

.heading {
    text-align: center;
    font-size: var(--typography-size-500);
}

@container (min-width:40rem) {
    .heading {
        font-size: var(--typography-size-600);
    }
}

.ctaGroup {
    @include cta-group;
}
