@use "../../styles/mixins" as *;

@layer components {
    .heading {
        text-align: center;
        font-size: var(--step-3);
    }

    @container (min-width:40rem) {
        .heading {
            font-size: var(--step-4);
        }
    }

    .ctaGroup {
        @include cta-group;
    }

    .intro {
        text-align: center;
        max-inline-size: 40ch;
        margin: var(--space-m) auto;
        font-size: var(--step-0);
    }
}
