@use "../../styles/mixins" as *;

@layer components {
    .highlights {
        margin-block-start: var(--space-m);
        padding-inline-start: var(--space-l);
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        font-size: var(--step-negative-1);
    }
}
