.heading {
    font-family: var(--font-header), sans-serif;
    font-weight: var(--font-weight-semibold);
    line-height: var(--typography-line-tight);
    margin-block: 0;
    margin-block-end: var(--space-xs);
    max-inline-size: var(--typography-measure);
}

.heading[data-level="1"] {
    font-size: var(--typography-size-700);
}

.heading[data-level="2"] {
    font-size: var(--typography-size-600);
}

.heading[data-level="3"] {
    font-size: var(--typography-size-500);
}

.heading[data-level="4"] {
    font-size: var(--typography-size-400);
}

.heading[data-level="5"] {
    font-size: var(--typography-size-300);
}

.heading[data-level="6"] {
    font-size: var(--typography-size-200);
}

.heading + :where(.heading, p, ul, ol, dl, blockquote) {
    margin-block-start: var(--space-l);
}

:where(
        .heading[data-level="1"],
        .heading[data-level="2"],
        .heading[data-level="3"]
    )
    + p {
    margin-block-start: var(--space-l);
}
