.field {
    display: grid;
    gap: var(--space-xxs);
}

.description {
    font-size: var(--typography-size-100);
    color: var(--colour-text-subtle);
}

.error {
    font-size: var(--typography-size-100);
    color: var(--colour-destructive);
}
