@use "../../styles/mixins" as *;

.heading {
    text-align: center;
}

.cards {
    @include card-grid();
}

.icon {
    border-radius: var(--radius-s);
}

.cta {
    @include cta-group;
    @include centered-column;
}

@container (min-width:50rem) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
