.cards {
    display: grid;
    gap: 1rem;
}

.cards a {
    text-decoration: none;
    color: inherit;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-block-start: var(--space-xl);
}

.pagination a {
    text-decoration: none;
    color: inherit;
}
