@mixin steps {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    counter-reset: step;

    li {
        list-style-type: none;
        counter-increment: step;
        padding-inline-start: var(--space-m);
        position: relative;

        &::before {
            content: counter(step) ".";
            position: absolute;
            inset-inline-start: calc(var(--space-l) * -1);
            font-weight: 600;
        }
    }
}

@mixin checklist {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    margin-inline-start: var(--space-2xl);

    > div {
        position: relative;
        padding-inline-start: var(--space-m);

        &::before {
            content: "\2713";
            position: absolute;
            inset-inline-start: calc(var(--space-l) * -1);
            font-weight: 600;
            color: var(--success);
        }

        dt,
        dd {
            display: inline;
            margin: 0;
        }

        dt {
            font-weight: 600;
            font-family: var(--font-header), sans-serif;
            margin-inline-end: var(--space-s);
        }
    }
}

@mixin cta-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    justify-content: center;
    margin-block-start: var(--space-2xl);
}
